<div class="row" ng-hide="!val.avatar_url">
                        <div class="col=xs-12 col-md-2">
                            <img class="img-circle" ng-src="{{val.avatar_url}}" width="150" height="150">
                        </div>
                        <div class="col-xs-12 col-md-10">
                            <h1>
                                <span>{{val.name}}</span><br>
                                <a target="_blank" href="{{val.html_url}}" class="btn btn-info">
                                    <span class="octicon octicon-octoface"></span>
                                    {{val.login}}
                                </a>
                                <br>
                                <a target="_blank" href="{{val.blog}}" class="btn btn-info">
                                    {{val.name}} blog
                                </a>
                            </h1>
                        </div>
                    </div>

                <div class="panel-body">
                  <div class="list-group">
                    <h1 ng-hide="!val.name">Repositories of {{val.name}}</h1>
                    <div ng-repeat="repo in repos" class="list-group-item ">
                        <div class="row">
                            <div class="col-md-2">
                                  Created:<span class="badge">{{repo.created_at| date : short : timezone}}</span>
                            </div>
                            <div class="col-md-8">
                                <h4>
                                    <small>
                                        <span ng-if="repo.fork" class="octicon octicon-repo-forked"></span>
                                        <span ng-if="!repo.fork" class="octicon octicon-repo"></span>
                                    </small>
                                    <a href="{{repo.html_url}}" target="_blank" >
                                        {{repo.name}}
                                    </a>
                                    <small>{{repo.description}}</small>
                                </h4>

                                <small>
                                    <a target="_blank" href="{{repo.homepage}}" class="">
                                        <i class="fa fa-link"></i> WebPage
                                    </a>
                                </small>
                            </div>
                            <div class="col-md-2">
                                Last Updated:<span class="badge">{{repo.updated_at | date : short : timezone}}</span>
                            </div>
                        </div>
                    </div>
                </div>
               </div>